**Adding Constant Features**

In [143]:
import pandas as pd

data = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_shifted.csv")

data

,newID,Date,YYYYMM,VPD,PPT,TMAX,Fire,fut1fire
0,1,1999-01-01,199901,5.318143,289.466287,12.153000,0,0.0
1,1,1999-02-01,199902,4.519571,508.476711,10.698429,0,0.0
2,1,1999-03-01,199903,5.311428,309.567858,11.620428,0,0.0
3,1,1999-04-01,199904,7.304143,82.425429,13.764143,0,0.0
4,1,1999-05-01,199905,5.658571,119.406572,14.522286,0,0.0
...,...,...,...,...,...,...,...,...
1217964,4517,2021-09-01,202109,21.749450,8.002600,27.934199,0,0.0
1217965,4517,2021-10-01,202110,22.783499,27.762850,24.977949,0,0.0
1217966,4517,2021-11-01,202111,22.209550,0.000000,24.351800,0,0.0
1217967,4517,2021-12-01,202112,11.387200,107.264397,17.097599,0,0.0
1217968,4517,2022-01-01,202201,16.480450,5.853500,19.916349,0,NaN

In [144]:
uniqueIds = data.newID.unique()

In [145]:
len(data)/len(uniqueIds)

277.0

In [146]:
table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable2.csv")

In [147]:
table2

,left,top,right,bottom,newID,HubName,HubDist,202108_vpd,202109_vpd,202110_vpd,...,202101_tma,202102_tma,202103_tma,202104_tma,202105_tma,202106_tma,202107_tma,elev_meanm,slope_mean,popdensity
0,-124.301341,42.055424,-124.201341,41.955424,1,US Hwy 101 N,3658.694708,7.132528,6.172214,3.821714,...,12.017286,10.448143,11.347286,12.672286,14.823143,16.666571,15.303814,38.506361,0.000000,5.336588
1,-124.201341,42.055424,-124.101341,41.955424,2,US Hwy 101,4926.625172,17.473300,14.657183,8.732333,...,11.167500,10.927167,11.958167,16.914000,19.537333,22.274167,21.206933,215.873256,19.021508,5.336588
2,-124.101341,42.055424,-124.001341,41.955424,3,US Hwy 101 N,11649.734645,23.419316,21.334416,9.653117,...,10.439333,10.838333,12.370833,18.152667,20.967000,24.496667,26.618133,413.476490,21.934253,5.336588
3,-124.001341,42.055424,-123.901341,41.955424,4,US Hwy 199,17830.887457,31.670532,25.602066,10.178000,...,9.022667,10.318111,11.811444,19.513778,22.539222,25.291111,31.500399,618.309257,21.761894,5.336588
4,-123.901341,42.055424,-123.801341,41.955424,5,US Hwy 199,9621.080189,29.287433,23.395499,8.703683,...,7.604167,8.518833,9.635500,18.484833,21.160000,24.998333,30.552149,888.313698,19.207269,10.522931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4392,-115.701341,32.655424,-115.601341,32.555424,4512,US Hwy 98,8199.756390,61.884399,57.189499,37.960899,...,21.086500,23.923500,24.287499,31.439000,34.637499,40.823000,41.938549,33.613905,0.000000,16.659991
4393,-117.201341,32.555424,-117.101341,32.455424,4514,State Rte 75,9302.807544,6.886300,7.413300,14.650133,...,18.610001,18.276333,17.046333,18.846333,18.686333,19.690000,21.543133,16.434997,0.000000,302.994150
4394,-117.101341,32.555424,-117.001341,32.455424,4515,San Diego Fwy,4558.517518,11.127050,11.027625,18.809549,...,19.078500,18.491500,16.912750,19.220000,18.979500,21.171750,23.299675,150.900135,0.000000,302.994150
4395,-117.001341,32.555424,-116.901341,32.455424,4516,State Hwy 905,5109.923928,18.187350,17.528325,20.911225,...,19.423000,18.951750,17.820000,21.039000,21.062500,23.906250,26.117774,127.836714,0.000000,302.994150
4396,-116.901341,32.555424,-116.801341,32.455424,4517,State Rte 905,9607.776316,24.241250,21.749450,22.783499,...,19.080500,18.818000,17.491000,21.235499,21.813500,26.246500,28.379749,241.126194,0.000000,302.994150

In [148]:
#for id in uniqueIds:
#table2.loc[table2['newID'] == id].iloc[0]['HubDist']
out = pd.DataFrame()
out = table2[['newID', 'left', 'top', 'HubDist', 'elev_meanm', 'slope_mean', 'popdensity']].copy()
out

,newID,left,top,HubDist,elev_meanm,slope_mean,popdensity
0,1,-124.301341,42.055424,3658.694708,38.506361,0.000000,5.336588
1,2,-124.201341,42.055424,4926.625172,215.873256,19.021508,5.336588
2,3,-124.101341,42.055424,11649.734645,413.476490,21.934253,5.336588
3,4,-124.001341,42.055424,17830.887457,618.309257,21.761894,5.336588
4,5,-123.901341,42.055424,9621.080189,888.313698,19.207269,10.522931
...,...,...,...,...,...,...,...
4392,4512,-115.701341,32.655424,8199.756390,33.613905,0.000000,16.659991
4393,4514,-117.201341,32.555424,9302.807544,16.434997,0.000000,302.994150
4394,4515,-117.101341,32.555424,4558.517518,150.900135,0.000000,302.994150
4395,4516,-117.001341,32.555424,5109.923928,127.836714,0.000000,302.994150
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.000000,302.994150

In [149]:
out['slope_mean'][1:]

1       19.021508
2       21.934253
3       21.761894
4       19.207269
5       19.433436
          ...
4392     0.000000
4393     0.000000
4394     0.000000
4395     0.000000
4396     0.000000
Name: slope_mean, Length: 4396, dtype: float64

In [150]:
out["slope_dummy"] = out["slope_mean"].copy()

In [151]:
out

,newID,left,top,HubDist,elev_meanm,slope_mean,popdensity,slope_dummy
0,1,-124.301341,42.055424,3658.694708,38.506361,0.000000,5.336588,0.000000
1,2,-124.201341,42.055424,4926.625172,215.873256,19.021508,5.336588,19.021508
2,3,-124.101341,42.055424,11649.734645,413.476490,21.934253,5.336588,21.934253
3,4,-124.001341,42.055424,17830.887457,618.309257,21.761894,5.336588,21.761894
4,5,-123.901341,42.055424,9621.080189,888.313698,19.207269,10.522931,19.207269
...,...,...,...,...,...,...,...,...
4392,4512,-115.701341,32.655424,8199.756390,33.613905,0.000000,16.659991,0.000000
4393,4514,-117.201341,32.555424,9302.807544,16.434997,0.000000,302.994150,0.000000
4394,4515,-117.101341,32.555424,4558.517518,150.900135,0.000000,302.994150,0.000000
4395,4516,-117.001341,32.555424,5109.923928,127.836714,0.000000,302.994150,0.000000
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.000000,302.994150,0.000000

In [152]:
out.slope_dummy[out["slope_dummy"] > 0] = 1
out

/var/folders/tn/1hx74qln26x7jlmq6t6mlyqm0000gn/T/ipykernel_47630/570275577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out.slope_dummy[out["slope_dummy"] > 0] = 1

,newID,left,top,HubDist,elev_meanm,slope_mean,popdensity,slope_dummy
0,1,-124.301341,42.055424,3658.694708,38.506361,0.000000,5.336588,0.0
1,2,-124.201341,42.055424,4926.625172,215.873256,19.021508,5.336588,1.0
2,3,-124.101341,42.055424,11649.734645,413.476490,21.934253,5.336588,1.0
3,4,-124.001341,42.055424,17830.887457,618.309257,21.761894,5.336588,1.0
4,5,-123.901341,42.055424,9621.080189,888.313698,19.207269,10.522931,1.0
...,...,...,...,...,...,...,...,...
4392,4512,-115.701341,32.655424,8199.756390,33.613905,0.000000,16.659991,0.0
4393,4514,-117.201341,32.555424,9302.807544,16.434997,0.000000,302.994150,0.0
4394,4515,-117.101341,32.555424,4558.517518,150.900135,0.000000,302.994150,0.0
4395,4516,-117.001341,32.555424,5109.923928,127.836714,0.000000,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.000000,302.994150,0.0

In [153]:
out

,newID,left,top,HubDist,elev_meanm,slope_mean,popdensity,slope_dummy
0,1,-124.301341,42.055424,3658.694708,38.506361,0.000000,5.336588,0.0
1,2,-124.201341,42.055424,4926.625172,215.873256,19.021508,5.336588,1.0
2,3,-124.101341,42.055424,11649.734645,413.476490,21.934253,5.336588,1.0
3,4,-124.001341,42.055424,17830.887457,618.309257,21.761894,5.336588,1.0
4,5,-123.901341,42.055424,9621.080189,888.313698,19.207269,10.522931,1.0
...,...,...,...,...,...,...,...,...
4392,4512,-115.701341,32.655424,8199.756390,33.613905,0.000000,16.659991,0.0
4393,4514,-117.201341,32.555424,9302.807544,16.434997,0.000000,302.994150,0.0
4394,4515,-117.101341,32.555424,4558.517518,150.900135,0.000000,302.994150,0.0
4395,4516,-117.001341,32.555424,5109.923928,127.836714,0.000000,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.000000,302.994150,0.0

In [156]:
tmp = pd.concat([out]*int(len(data)/len(uniqueIds)))

In [158]:
tmp.sort_values(["newID"])

,newID,left,top,HubDist,elev_meanm,slope_mean,popdensity,slope_dummy
0,1,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0
0,1,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0
0,1,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0
0,1,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0
0,1,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0
...,...,...,...,...,...,...,...,...
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0
4396,4517,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0

In [ ]:
result = pd.merge(data, tmp, on=['newID'], how='outer')

In [ ]:
result