In [94]:
import pandas as pd

In [95]:
data2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_perm_added.csv")

#data2 = data2.dropna(axis=0, subset=['fut1fire'])

In [96]:
data2 = data2.reset_index(drop=True)

t = data2
tmp = t.groupby("newID", as_index=False).Fire.rolling(36, closed='left').sum()
tmp2 = t.groupby("newID", as_index=False).Fire.rolling(12, closed='left').sum()
tmp.rename(columns = {"Fire" : "36MoFires", "newID" : "ID"}, inplace = True)
tmp2.rename(columns = {"Fire" : "12MoFires", "newID" : "ID"}, inplace = True)
tmp = pd.DataFrame(tmp)
tmp = tmp.reset_index(drop=True)
tmp2 = pd.DataFrame(tmp2)
tmp2 = tmp2.reset_index(drop=True)
t = pd.concat([t, tmp], axis=1, join="outer")
assert(t['newID'].equals(t['ID']))
t = t.drop(['ID'], axis=1)

t = pd.concat([t, tmp2], axis=1, join="outer")
assert(t['newID'].equals(t['ID']))
t = t.drop(['ID'], axis=1)

t['Diff'] = t['36MoFires'].sub(t['12MoFires'], axis = 0)

cols = t.columns.tolist()
cols = cols[:13] + cols[-3:] + cols[13:-3]
t = t[cols]

In [97]:
t

,newID,Date,YYYYMM,VPD,PPT,TMAX,left,top,HubDist,elev_meanm,slope_mean,popdensity,slope_dummy,36MoFires,12MoFires,Diff,Fire,fut1fire
0,1,1999-01-01,199901,5.318143,289.466287,12.153000,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0,NaN,NaN,NaN,0,0.0
1,1,1999-02-01,199902,4.519571,508.476711,10.698429,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0,NaN,NaN,NaN,0,0.0
2,1,1999-03-01,199903,5.311428,309.567858,11.620428,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0,NaN,NaN,NaN,0,0.0
3,1,1999-04-01,199904,7.304143,82.425429,13.764143,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0,NaN,NaN,NaN,0,0.0
4,1,1999-05-01,199905,5.658571,119.406572,14.522286,-124.301341,42.055424,3658.694708,38.506361,0.0,5.336588,0.0,NaN,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217964,4517,2021-09-01,202109,21.749450,8.002600,27.934199,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0,2.0,0.0,2.0,0,0.0
1217965,4517,2021-10-01,202110,22.783499,27.762850,24.977949,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0,2.0,0.0,2.0,0,0.0
1217966,4517,2021-11-01,202111,22.209550,0.000000,24.351800,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0,2.0,0.0,2.0,0,0.0
1217967,4517,2021-12-01,202112,11.387200,107.264397,17.097599,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0,2.0,0.0,2.0,0,0.0
1217968,4517,2022-01-01,202201,16.480450,5.853500,19.916349,-116.901341,32.555424,9607.776316,241.126194,0.0,302.994150,0.0,2.0,0.0,2.0,0,NaN

In [98]:
t.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_3yrfires.csv', index=False)