In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from math import exp

In [22]:
data2 = pd.read_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_3yrfires.csv')

In [23]:
data2["1Mo_VPD"] = data2.groupby("newID")["VPD"].shift(1)

In [24]:
data2["2Mo_VPD"] = data2.groupby("newID")["VPD"].shift(2)

In [25]:
data2["3Mo_VPD"] = data2.groupby("newID")["VPD"].shift(3)

In [26]:
data2["1Mo_TMAX"] = data2.groupby("newID")["TMAX"].shift(1)

In [27]:
data2["2Mo_TMAX"] = data2.groupby("newID")["TMAX"].shift(2)

In [28]:
data2["3Mo_TMAX"] = data2.groupby("newID")["TMAX"].shift(3)

In [29]:
data2["1Mo_PPT"] = data2.groupby("newID")["TMAX"].shift(1)

In [30]:
data2["2Mo_PPT"] = data2.groupby("newID")["TMAX"].shift(2)

In [31]:
data2["3Mo_PPT"] = data2.groupby("newID")["TMAX"].shift(3)

In [32]:
cols = data2.columns.tolist()
cols = cols[:16] + cols[-9:] + cols[16:-9]
data2 = data2[cols]

In [33]:
data2

,newID,Date,YYYYMM,VPD,PPT,TMAX,left,top,HubDist,elev_meanm,...,2Mo_VPD,3Mo_VPD,1Mo_TMAX,2Mo_TMAX,3Mo_TMAX,1Mo_PPT,2Mo_PPT,3Mo_PPT,Fire,fut1fire
0,1,1999-01-01,199901,5.318143,289.466287,12.153000,-124.301341,42.055424,3658.694708,38.506361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
1,1,1999-02-01,199902,4.519571,508.476711,10.698429,-124.301341,42.055424,3658.694708,38.506361,...,NaN,NaN,12.153000,NaN,NaN,12.153000,NaN,NaN,0,0.0
2,1,1999-03-01,199903,5.311428,309.567858,11.620428,-124.301341,42.055424,3658.694708,38.506361,...,5.318143,NaN,10.698429,12.153000,NaN,10.698429,12.153000,NaN,0,0.0
3,1,1999-04-01,199904,7.304143,82.425429,13.764143,-124.301341,42.055424,3658.694708,38.506361,...,4.519571,5.318143,11.620428,10.698429,12.153000,11.620428,10.698429,12.153000,0,0.0
4,1,1999-05-01,199905,5.658571,119.406572,14.522286,-124.301341,42.055424,3658.694708,38.506361,...,5.311428,4.519571,13.764143,11.620428,10.698429,13.764143,11.620428,10.698429,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217964,4517,2021-09-01,202109,21.749450,8.002600,27.934199,-116.901341,32.555424,9607.776316,241.126194,...,20.984349,18.735500,29.326550,28.379749,26.246500,29.326550,28.379749,26.246500,0,0.0
1217965,4517,2021-10-01,202110,22.783499,27.762850,24.977949,-116.901341,32.555424,9607.776316,241.126194,...,24.241250,20.984349,27.934199,29.326550,28.379749,27.934199,29.326550,28.379749,0,0.0
1217966,4517,2021-11-01,202111,22.209550,0.000000,24.351800,-116.901341,32.555424,9607.776316,241.126194,...,21.749450,24.241250,24.977949,27.934199,29.326550,24.977949,27.934199,29.326550,0,0.0
1217967,4517,2021-12-01,202112,11.387200,107.264397,17.097599,-116.901341,32.555424,9607.776316,241.126194,...,22.783499,21.749450,24.351800,24.977949,27.934199,24.351800,24.977949,27.934199,0,0.0
1217968,4517,2022-01-01,202201,16.480450,5.853500,19.916349,-116.901341,32.555424,9607.776316,241.126194,...,22.209550,22.783499,17.097599,24.351800,24.977949,17.097599,24.351800,24.977949,0,NaN

In [34]:
data2.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_staggered.csv', index=False)